<p id="notice"><%= notice %></p>

<div class="post-index">
  <% @posts.each do |post| %>
    <h1><%= link_to post.title, post %></h1>
    <p><%= post.text %></p>
    <p><i>Posted on <%= post.pretty_created_at %></i></p>
  <% end %>
</div>

